@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */
* {
    box-sizing: border-box;
}
nav{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin: 26px 136px ;
background: white;
}
.nav-title{
    /* Bangladesh 2.0 */
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 27px;
font-weight: 595;
line-height: 32px;
text-align: left;
}
nav ul li{
    list-style: none;
}

nav ul{
    display: flex;
    /* Frame 2 */

}
.btn_1{
    /* Sign In */
color: rgb(0, 106, 80);
font-family: "Fira Sans", serif;
font-size: 18px;
font-weight: 510;
text-align: left;
border-radius: 8px;
border-color: rgb(0, 106, 80);
padding: 13px 26px 13px 26px;
background-color: white;
}
.banner{
    
    margin: 17px 136px 17px 136px ;
}
.banner_content{
display: flex;
position: static;
width: 1073px;
height: 500px;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 54;
padding: 68px 85px 68px 85px;
border-radius: 24px;
background: rgb(198, 228, 214);
}
.bangladesh{
position: static;
width: 400px;
height: 400px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;
align-self: stretch;
margin: 20px 0px;
}
.p1{
position: static;
width: 400px;
height: 18px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;
margin: 14px 0px;
color: rgba(14, 14, 14, 0.5);
font-family: "Fira Sans", serif;
font-size: 14px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.h1{
position: static;
width: 500px;
height: 160px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;
flex: none;
margin: 12px 0px;
color: rgb(14, 14, 14);
font-family: "Fira Sans", serif;
font-size: 40px;
font-weight: 700;
line-height: 62px;
letter-spacing: 0%;
text-align: left;
}

.btn_2{
    padding: 17px 34px 17px 34px;
order: 1;
    color: white;
position: static;
width: 230px;
height: 47px;
gap: 40;
color: white;
margin: 20px 0px;
border-radius: 8px;

background: rgb(0, 106, 80);
}
.img1{
position: static;
width: 474px;
height: 400px;
margin: 0px 50px;
}



 /* Pillar Section  */
.pillar {
    padding-top: 10px;
    padding-bottom: 32px;
    text-align: left;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 32px;
    padding-left: 136px;
}

.pillar-container {
    display: flex;
    gap: 24px;
    padding: 0 150px;
}

.pillar-card{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
}

.pillar-img {
    padding-bottom: 10px;
    align-items: flex-start;
}

.pillar-title {
    color: #151414;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 16px;
    justify-content: flex-start;
}

.pillar-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 500;
}

/* vision Section  */
.vision {
    padding-top: 10px;
    padding-bottom: 32px;
    text-align: left;
}

/* .vision-title { */
    /* font-weight: 700; */
    /* font-size: 40px; */
    /* color: #151414; */
    /* padding-bottom: 32px; */
    /* padding-left: 136px; */
/* } */

.vision-para {
    padding-left: 136px;
    padding-right: 136px;
}

.vision-container {
    display: flex;
    gap: 24px;
    padding: 0 136px;
}

.vision-card_1 {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 24px;
}

.vision-card_2 {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 24px;
}

.vision-card_3 {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 24px;
}

.vision-img {
    padding-bottom: 20px;
    align-items: flex-start;
}

.vision-title {
    color: #151414;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 16px;
    justify-content: flex-start;
}

.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 500;
}

.btn_3{
    color: white;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    padding: 11px 20px 11px 20px;
    border: none;
}

.btn_4{
    color: white;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    border: none;
}

.btn_5{
    color: white;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    padding: 11px 20px 11px 20px;
    border: none;
}
 
/* recent new */
.recent{
}
.recent_container{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-left: 136px;
    margin-right: 136px;
    padding: 0 136px;
    border-radius: 24px;
    background: rgb(245, 243, 243);
}

.text{font-size: 12px;
    font-weight: 400;
    text-align: left;
    position: static;
    width: 444px;
    
}
.date-time{
    display: flex;
    gap: 12px;
    flex-direction: row;
}

.btn-6{
    color: white;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
}

.recent.img{

    margin: 10px 20px;
    border-radius: 24px;
    
}
.donate{
    background-color: rgb(245, 227, 241);
    border-radius: 24px;
    margin-left: 136px;
    margin-right: 136px;
    padding: 30px 150px;
    margin-top: 80px;
    text-align: center;
}

.donate-title{
    font-size: 40px;
    align-items: center;
}
.donate-taka{
   display: flex;
   justify-content: space-around;
    
}
.taka-amount{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
}

.taka-amount-2{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
    background: rgb(198, 228, 214);
    font-size: 20px;
    font-weight: 700;

}

.section-discription{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    
}

.other-amount{
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    border: none;
    width: 607px;
    height:34px;
    text-align: center;
}

.btn-7{
    color: white;
    width: 122px;
    height: 41px;
    border-radius: 16px;
    background: rgb(0, 106, 80);
    border: none;
    margin: 32px 0px;
}
.card{
    display: flex;
    flex-direction: row;
}
    /* sub */
.subsceibe{

        display: flex;
        flex-direction: column;
        align-items: center;
    }


.sub-color{
    border-radius: 0px 8px 8px 0px;
color: white;
background: rgb(0, 106, 80);
}
/* footer */
.social{
    display: flex;
    flex-direction: row;
    gap: 23;
    text-align: center;
    align-items: center;
    list-style: none;
    
}


.footer-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32;
}

.yunus{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    
    background: rgb(255, 255, 255);
    margin-left: 136px;
    margin-right: 136px;
    padding-left: 10px;
}
.img-back{
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img)
    
}